body {
    background-color:  rgba(111, 111, 243, 0.267);;
    font-family: Arial, Helvetica, sans-serif;
    color: white;    
}
body h1 h3 {
    text-align: center;
}
nav {
    background-color: rgb(101, 101, 236);
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    
}
nav ul {
    list-style-type: armenian;
    margin: 0;
    padding: 0;    
    
}
nav li {
    display: inline;       
}

nav li a {
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px;    
}

body header {
    display: block;
    text-align: center;
    background-color: rgba(111, 111, 243, 0.267);
    
}

main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: rgb(101, 101, 236);
    /* padding: 10px; */
    grid-gap: 0px;
    
}
.titulo_text {
    color: rgb(66, 65, 65);
}
main aside {
    padding: auto;
    
}
main section { 
    padding: auto;
}
main section footer{ 
    padding: auto;
    background-color: rgb(101, 101, 236);
}

main aside h2 {
    padding-left: 40%;
    font-size: 30px;
}

body footer { 
    text-align: center;
    background-color: rgb(46, 46, 114);
    padding: 10px;    
}

section article table{
    background-color: white;
    color: black;    
    width: 100%;
    font-size: 20px;
    margin-top: 50px;
}

section article table thead{    
    text-align: center;
    background-color:rgb(101, 101, 236);
    color: white;
    
}

tr:nth-child(even) {background-color: #f2f2f2;}


aside article figure{
    max-width: 50px;
    height: auto;
}

section article div {
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.formulario {
    background-color: white;
    color: black;
    padding: 20px;
    grid-template-columns:auto
}
.group-input {
    padding: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-input{
    padding:8px;
    display:flex;
    border:none;
    border-bottom:1px solid #ccc;
    width:50%
}

div {
    padding: auto;
    grid-template-columns: auto;
}

.text-center {
    text-align: center;
}

.btn {
    background-color:rgb(101, 101, 236);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }